<br>
<br>
<br>


<div class="jumbotron">
<h2> Welcome to Travelize </h2>
<p class="lead text-muted">Join us below and begin tracking your traveling goals. </p>
<br>
  <h3 class="display-5">Signup</h3>

  <form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder='Email Address'>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
  </form>

  <div class='error_message'>
    <% if !!flash[:error] %>
      <%= flash[:error] %>
    <% end %>
  </div>
</div>

