<h1>I will create a new goal</h1>

<h2>Pack your bags!</h2>
<p>Add your new goal below:</p>
<form action="/goals" method="POST">
  <p>Goal Title: <input type="text" name="title"></p>  
  <!-- saving for functionality to be added later <input type="checkbox" value="true" name="complete">-->
  <input type="submit" value="submit">
</form>