

<div class="jumbotron">
  <h1 class="display-4">Pack Your Bags!</h1>
  <p class="lead">Add a New Goal Below</p>
    <form action="/goals" method="POST">
  <p>Goal Title: <input type="text" name="title"></p>  
  <!-- saving for functionality to be added later <input type="checkbox" value="true" name="complete">-->
</form>

  <hr class="my-4">
  <p>Below will display buttons to create a new goal and redirect accordingly</p>
  <p class="lead">
    <a class="btn btn-info" href="/goals/new" role="button">Create New Goal</a>
  </p>
</div>