Will show edit form

<form action="/goals/<%=@goal.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value="<%=@goal.title%>">
  
  <input type="submit" value="Change Plans">
</form>



