




<br>
<br>
<br>

<div class="jumbotron">
  <p class="lead">Edit Your Goal</p>
    <form action="/goals/<%=@goal.id%>" method= "POST">
    <input type="hidden" name="_method" value="patch">
    <label for="title"> Goal to Change:</label>
    <input type="text" name="goal[title]" placeholder="<%=@goal.title%>">
    <input type="submit" class="btn btn-info" value="Change Plans"></button>
    </form>


    <form action="/goals/<%=@goal.id%>" method= "POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="btn btn-danger" value="Delete"></button>
  </form>        
</div>

