Will show edit form


<body>


<form action="/goals/:id" method="POST">
<input type="hidden" name="_method" value="patch">
  Goal to Change: <br>
  <input type="text" name="goal[title]">
  <br>
  
  <input type="submit" value="Change Goal">
</form> 



</body>


