Will show edit form

<form action="/goals/<%=@goal.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="goal[title]" placeholder="<%=@goal.title%>">
  
  <input type="submit" value="Sumbit">
</form>



