<h1>I will show a list of all goals created</h1>

<div class="jumbotron">
  <h1 class="display-3">My Goals</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Testing addition of jumbotron to later edit, will list all completed destinations</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>