<br>
<br>
<br>

<div class="jumbotron">
  <h1 class="display-4">Hey, <%= @traveler.name.capitalize %>!</h1>
  <p class="lead">Here are your Travel Goals.</p>
  <p class="my-3">Click on a Goal to see more details or to add/edit destinations of a goal.</p>

  <p class="lead"> 

    <ul>
    <% @goals.each do |goal| %>
      <li><a href="/goals/<%= goal.id%>"><%= goal.title %></a></li>
    <% end %>
    </ul></p>

  <hr class="my-4">
  <p>Want to add a Goal to your list?  Click the button below.</p>
  <p class="lead">
    <a class="btn btn-info" href="/goals/new" role="button">Create New Goal</a>
  </p>
</div>


