<br>
<br>
<br>

<div class="jumbotron">
  <h1 class="display-6"><%= @goal.title %></h1>
  <a href="/goals/<%=@goal.id%>/edit"><input type="button" class="btn btn-info" value="Edit"></button></a>   
</div>
