<br>
<br>
<br>

<div class="jumbotron">
  <h1 class="display-6"><%= @goal.title %></h1>
  <p class="lead">Edit Your Goal</p>
    <a href="/goals/<%=@goal.id%>/edit"><button> Edit </button></a>      
</div>
